<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VoiceRecorder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="VoiceRecorder.Properties.Settings.schoolConnectionString" connectionString="Data Source=LENOVO-PC\DIKSISHESOP;Initial Catalog=school;User ID=sa;Password=josgandos" providerName="System.Data.SqlClient"/>
        <add name="VoiceRecorder.Properties.Settings.HeartBeatRecordConnectionString" connectionString="Data Source=LENOVO-PC\DIKSISHESOP;Initial Catalog=HeartBeatRecord;Persist Security Info=True;User ID=sa;Password=josgandos" providerName="System.Data.SqlClient"/>
        <add name="VoiceRecorder.Properties.Settings.HeartRateRecordConnectionString" connectionString="Data Source=lenovo-pc\diksishesop;Initial Catalog=HeartRateRecord;User ID=sa;Password=josgandos" providerName="System.Data.SqlClient"/>
        <add name="VoiceRecorder.Properties.Settings.HeartBeatRecordConnectionString1" connectionString="Data Source=lenovo-pc\diksishesop;Initial Catalog=HeartBeatRecord;User ID=sa;Password=josgandos" providerName="System.Data.SqlClient"/>
        <add name="VoiceRecorder.Properties.Settings.hostingShesopIDConnectionString" connectionString="Data Source=mssql.lskk.ee.itb.ac.id;Initial Catalog=hostingShesopID;Persist Security Info=True;User ID=shesop;Password=890f805f" providerName="System.Data.SqlClient"/>
        <add name="VoiceRecorder.Properties.Settings.hostingShesopIDConnectionString1" connectionString="Data Source=LENOVO-PC\DIKSISHESOP;Initial Catalog=hostingShesopID;User ID=sa;Password=josgandos" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <userSettings>
        <VoiceRecorder.Properties.Settings>
            <setting name="LameExePath" serializeAs="String">
                <value>lame.exe</value>
            </setting>
        </VoiceRecorder.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
